<h1><%= @contact[:name] %></h1>
<p><%= @contact[:phone] %></p>
<p><%= @contact[:email] %></p>

<br>
<a class="waves-effect waves-light btn"href="/contacts/<%= @i %>/edit">Edit</a>
<a class="waves-effect waves-light btn" href="/contacts/<%= @i %>/delete">Delete</a>
<a class="waves-effect waves-light btn" href="/contacts">Index</a>
